{% load static %}
<!doctype html>
<html dir="rtl" lang="fa-IR">

<head>

    <!-- META DATA -->
    <meta charset="UTF-8">
    <meta content='width=device-width, initial-scale=1.0, user-scalable=0' name='viewport'>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="پلتفرم فروشگاه ساز پیکوسایت" name="description">
    <meta content="limoostudio" name="author">
    <meta content="بهترین سایت ساز ایرانی با قابلیت‌های فراوان و برنامه‌نویسی اختصاصی، همگام شده با آخرین الگوریتم‌های گوگل"
          name="keywords">

    <!-- FAVICON -->
    <link href="" rel="shortcut icon" type="image/x-icon"/>

    <!-- TITLE -->
    <title>احراز شماره تماس</title>

    <!-- BOOTSTRAP CSS -->
    <link href="{% static 'assets/plugins/bootstrap/css/bootstrap.min.css' %}" id="style" rel="stylesheet"/>

    <!-- STYLE CSS -->
    <link href="{% static 'assets/css/style.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/plugins.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/dark-style.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/css/transparent-style.css' %}" rel="stylesheet">
    <link href="{% static 'assets/css/skin-modes.css' %}" rel="stylesheet"/>

    <!--- FONT-ICONS CSS -->
    <link href="{% static 'assets/css/icons.css' %}" rel="stylesheet"/>

    <!-- COLOR SKIN CSS -->
    <link href="{% static 'assets/colors/color1.css' %}" id="theme" media="all" rel="stylesheet" type="text/css"/>
    <link href="{% static 'assets/switcher/css/switcher.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/switcher/demo.css' %}" rel="stylesheet"/>
    <link href="{% static 'assets/fonts/styles-fa-num/iran-yekan.css' %}" id="fonts" rel="stylesheet">
    <link href="{% static 'assets/css/rtl.css' %}" rel="stylesheet"/>
</head>

<body class="app sidebar-mini rtl login-img">

<div class="">
    <div class="page">
        <div class="">
            <div class="row p-7">
                <div class="col-md-6 col-xl-6">
                    <div class="card text-white text-center bg-success">
                        <div class="card-body">
                            <h4 class="card-title">عنوان کارت شفاف اولیه</h4>
                            <p class="card-text">چند نمونه متن کوتاه برای ایجاد بر روی عنوان کارت و تشکیل بخش
                                عمده محتوای کارت.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6">
                    <div class="card text-white text-center bg-orange">
                        <div class="card-body">
                            <h4 class="card-title">عنوان کارت شفاف ثانویه</h4>
                            <p class="card-text">چند نمونه متن کوتاه برای ایجاد بر روی عنوان کارت و تشکیل بخش
                                عمده محتوای کارت.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6">
                    <div class="card text-white text-center bg-blue">
                        <div class="card-body">
                            <h4 class="card-title">عنوان کارت شفاف اولیه</h4>
                            <p class="card-text">چند نمونه متن کوتاه برای ایجاد بر روی عنوان کارت و تشکیل بخش
                                عمده محتوای کارت.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-xl-6">
                    <div class="card text-white text-center bg-azure">
                        <div class="card-body">
                            <h4 class="card-title">عنوان کارت شفاف ثانویه</h4>
                            <p class="card-text">چند نمونه متن کوتاه برای ایجاد بر روی عنوان کارت و تشکیل بخش
                                عمده محتوای کارت.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- JQUERY JS -->
<script src="{% static 'assets/js/jquery.min.js' %}"></script>

<!-- BOOTSTRAP JS -->
<script src="{% static 'assets/plugins/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'assets/plugins/bootstrap/js/bootstrap.min.js' %}"></script>

<!-- SHOW PASSWORD JS -->
<script src="{% static 'assets/js/show-password.min.js' %}"></script>

<!-- Perfect SCROLLBAR JS-->
<script src="{% static 'assets/plugins/p-scroll/perfect-scrollbar.js' %}"></script>

<!-- Color Theme js -->
<script src="{% static 'assets/js/themeColors.js' %}"></script>

<!-- CUSTOM JS -->
<script src="{% static 'assets/js/custom.js' %}"></script>

<!-- Custom-switcher -->
<script src="{% static 'assets/js/custom-swicher.js' %}"></script>

<!-- Switcher js -->
<script src="{% static 'assets/switcher/js/switcher.js' %}"></script>

</body>


</html>